@{
    ViewData["Title"] = "Admin Dashboard"; 
    ViewData["ReportsActive"] = ""; 
    ViewData["StudentsActive"] = ""; 
    ViewData["InstructorsActive"] = "";
    ViewData["CoursesActive"] = "";
    ViewData["LogOutActive"] = "";
}


<div class="container">
    <div class="text-center">
        <img src="~/images/social-dashboard-animate (3).svg" width="350px" />
    </div>
 @*    <div>
        <div>All Tracks</div>
        <ul>
        @foreach (var track in ViewBag.AllTracks)
        {
                <li>@track.TrackName</li>
        }
        </ul>
    </div>
     <div>
        <div> Instructors No </div>
    </div>
    <div>
        <div>All Student Per Track</div>
    </div>
    <div>
        <div>All Courses Per Track</div>
    </div> *@
    Reports
</div>