
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminDashboard</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>

    <div class="page-container d-flex ">
        <aside>
            <h1>Admin Control</h1>
            <ul>
                <li><a asp-action="Reports" asp-controller="admin">Reports</a></li>
                <li><a asp-action="Students" asp-controller="admin">Students</a></li>
                <li><a asp-action="Instructors" asp-controller="admin">Instructors</a></li>
                <li><a asp-action="AllCourses" asp-controller="admin">Courses</a></li> 
            </ul>
            <img class="circle" src="~/images/circles.png" />
        </aside>
        <div class="dynamic-section">
         
        </div>
    </div>
</body>
</html>
