@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unauthorized Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <style>
        .img-error img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 text-center">
            <div class="img-error mb-4">
                <img src="~/images/401 Error Unauthorized.gif" class="img-fluid" alt="Unauthorized Error">
            </div>
            <div id="error-message" class="text-dark">
                <h1 class="mb-3">Unauthorized Access</h1>
                <p>Sorry, you are not authorized to access this resource.</p>
            </div>
        </div>
    </div>
</body>
</html>
