
@{
    Layout = "_InstructorLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>showReport</title>
    <style>


        .container {
            display: grid;
            grid-template-columns: repeat(3, auto); /* Three buttons in a row */
            grid-gap: 20px; /* Spacing between buttons */
            padding: 20px;
            background: white; /* White background for the button area */
            border-radius: 10px; /* Rounded corners for the button area */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
        }

        .btn {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
        }

            .btn:hover {
                background-color: #48C572; /* Change color on hover */
                color: white;
                transform: translateY(-2px); /* Slight lift on hover */
            }
    </style>
</head>
<body>
    <div class="container">
        <a class="btn btn-custom m-3" href="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReport+Project1%2fTrack_Info&rs:Command=Render">Trach Info</a>
        <a class="btn btn-custom m-3" href="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReport+Project1%2fNumber+Of+Students+in+each+course&rs:Command=Render">Number of Students</a> <br/>
        <a class="btn btn-custom m-3" href="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReport+Project1%2fStudent+Answers&rs:Command=Render">Student Answers</a>
        <a class="btn btn-custom m-3" href="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReport+Project1%2fCourse+Topic&rs:Command=Render">Course Topics</a> <br />
        <a class="btn btn-custom m-3" href="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReport+Project1%2fExam+Questions&rs:Command=Render">Exam Question</a>
        <a class="btn btn-custom m-3" href="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fReport+Project1%2fStudent+Grade&rs:Command=Render">Student Grade</a>
    </div>
</body>
</html>
