@model Exam
@{
    Layout = "_InstructorLayout";

    ViewData["Title"] = "Instructor | Generate Exam";

    ViewData["CoursesActive"] = "active";
    ViewData["UsrProfileActive"] = "";
    ViewData["LogOutActive"] = "";

    var tracks = ViewBag.Tracks;
    var trackList = new SelectList(tracks, "TrackId", "TrackName");
}



<h1 class="text-center main-title">Generate Exam</h1>

<form asp-action="GenerateExam" asp-controller="Instructor" method="post">

    <label asp-for="ExamDate">Exam Date</label>
    <input asp-for="ExamDate" value="@Model?.ExamDate" type="date" required><br>

    <label asp-for="StartTime">Start Time</label>
    <input asp-for="StartTime" value="@Model?.StartTime" type="time" required><br>

    <label asp-for="EndTime">End Time</label>
    <input asp-for="EndTime" value="@Model?.EndTime" type="time" required><br>

    <label asp-for="TrackId">Track</label>
    <select asp-for="TrackId" asp-items="trackList" required>
        <option>Track</option>
    </select><br>

    <label asp-for="FullMark">Full Mark</label>
    <input asp-for="FullMark" value="@Model?.FullMark" required><br>

    <label for="numTrueFalseQuestions">Number of True/False Questions:</label>
    <input type="number" id="numTrueFalseQuestions" name="numTrueFalseQuestions" required><br>

    <label for="numMCQuestions">Number of Multiple Choice Questions:</label>
    <input type="number" id="numMCQuestions" name="numMCQuestions" required><br>

    <button type="submit" class="btn btn-custom" >Submit</button>
    <a asp-action="Index" asp-controller="Instructor" class="btn btn-custom ml-2">Cancel</a>

    @if (ViewBag.ExamConflict != null)
    {
        <div class="alert alert-danger mt-5">
            @ViewBag.ExamConflict
        </div>
    }
</form>


