
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessAddQuestion</title>
</head>
<body>
    Add Suucesfuly
</body>
</html>
