@model Instructor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>instructor</h1>
    <a asp-action="AddQuestions" asp-controller="Instructor">Add Q</a>
</body>
</html>
