/*
    fixed styles
*/
:root {
    --main-color: #48C572;
    --main-text-color: #3B3B3B;
}
table button:not(:disabled), table [type=button]:not(:disabled),table [type=reset]:not(:disabled),table [type=submit]:not(:disabled) {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.page-container{
    display:flex;
    justify-content:space-between;
}
aside {
    background-color: white;
    border-right: 2px solid var(--main-color);
    padding: 30px 0;
    width: 250px;

    position: fixed;
    top: 0px;
    height: 100vh
}
a.active{
    color:var(--main-color)
}
aside h1{
    font-size:27px;
    position:relative;
     width:fit-content;
     margin:10px auto;
    padding-bottom:10px;
    color:var(--main-text-color);
    margin-bottom:60px;
}
    aside h1::before,
    aside h1::after{
        content:'';
        position:absolute;
        width:3px;
        height: 100%;
        top:0px;
        background-color:var(--main-color);
    }
        aside h1::before{
            left:-10px;
        }
    aside h1::after{
        right:-10px
    }

    aside ul li {
        margin: 20px 2px;

    }
    aside ul li a{
        text-align:center;
       text-decoration:none;
       color:var(--main-text-color);
       transition:.3s;
       border-bottom:1px solid var(--main-color);
       padding-bottom:7px;
    }
        aside ul li a:hover{
            transform:translateY(6px);
            color:var(--main-color);
        }
        .dynamic-section {
            margin-left: 310px !important;
            margin: 40px 0;
            padding:40px 20px;
            background-color: white;
            border-radius: 10px;
            width: 75%;
        }

  th{
      color:var(--main-color);
      text-align:center;
  }

.circle {
    position: absolute;
    bottom: -60px;
    left: -102px;
}